<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
		<link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}" />
		{% block custom_head %}{% endblock %}
		<title>{% block title %}{% endblock %}</title>
		{% endblock %}
	</head>
	<body>
		<noscript>
			<div class="alert alert-danger">This website requires JavaScript to function properly.</div>
		</noscript>
		<div class="container">
			{% block nav %}
			<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="{{url_for('default.home')}}">
					<h4>Tim Noble</h4>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="/customers">List Customers</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/customer">New Customer</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/celery">Celery</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/intense">Intense</a>
						</li>
					</ul>
				</div>
			</nav>
			{% endblock %}
			<div class="content" id="main-content">
				{% block content %}{% endblock %}
			</div>
			<div id="footer" class="my-3">
				{% block footer %}
				<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
				<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/feature.js/1.1.0/feature.min.js" integrity="sha256-sXKlW8vVA7rLANJ+oYJVSMJ6lgZUEkGZxE/MEmkrSVA=" crossorigin="anonymous"></script>
				<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
				<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
				{% block custom_script %}{% endblock %}
				<script>
					if (!feature.classList || !feature.addEventListener) {
						document.getElementById("main-content").innerHTML = "Sorry, your browser is not supported.  This site supports the latest versions of Chrome, Firefox, Safari and Microsoft Edge.  It also supports Microsoft Internet Explorer v10 and above.  Apologies for any inconvenience."
					}
				</script>
				{% endblock %}
			</div>
			<nav class="navbar fixed-bottom navbar-light bg-light">
				<span class="navbar-text mr-sm-2">
					&nbsp;
				</span>
			</nav>
		</div>
	</body>
</html>