{% extends "base.html" %}
{% block custom_head %}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />
{% endblock %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<h1>{{ self.title() }}</h1>
<div class="card mt-3">
	<div class="card-body">
		<table class="table table-striped table-bordered data-table" id="customers">
			<thead>
				<tr>
					<th>Name</th><th>Postcode</th><th>Country Code</th><th>Updated</th><th>#</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
{% endblock %}
{% block custom_script %}
	<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://cdn.datatables.net/plug-ins/1.10.20/dataRender/datetime.js"></script>
	<script src="https://cdn.datatables.net/plug-ins/1.10.20/sorting/datetime-moment.js"></script>
	<script src="{{url_for('static', filename='customer-list.js')}}"></script>
{% endblock %}
