{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<div class="jumbotron">
	<h1 class="display-4">{{ self.title() }}</h1>
	<p class="lead">{{output}}</p>
</div>	
{% endblock %}
