{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<form id="login-form" method="POST" action="{{ url_for('default.login') }}" class="needs-validation" novalidate>
	<h1>{{title}}</h1>
	<div class="form-group">
		<label for="name">Username</label>
		<input type="text" class="form-control" id="username" name="username" required />
		<div class="invalid-feedback">
			Please enter your username.
		</div>
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" class="form-control" id="password" name="password" required />
		<div class="invalid-feedback">
			Please enter your password.
		</div>
	</div>
	<p />
	<button type="submit" class="btn btn-primary"><span class="oi oi-data-transfer-upload"></span> Submit</button>
</form>
<p>Not registered?  <a href="{{ url_for('default.show_register') }}">Register here</a>.</p>
{% endblock %}
{% block custom_script %}
<script src="{{url_for('static', filename='crud-common.js')}}"></script>
{% endblock %}