{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<form id="login-form" method="POST" action="{{ url_for('default.register') }}" class="needs-validation" novalidate>
	<h1>{{ title }}</h1>
	<div class="form-group">
		<label for="name">Email Address</label>
		<input type="text" class="form-control custom-validation" id="username" name="username" required />
		<div class="invalid-feedback">
			Please enter your email address.
		</div>
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" class="form-control custom-validation" id="password" name="password" required />
		<div class="invalid-feedback">
			Your password must be at least 8 characters long and contain 1 lowercase letter, 1 uppercase letter, 1 number and 1 special character from: ! @ # $ % ^ & * ( ) _ +
		</div>
	</div>
	<div class="form-group">
		<label for="confirm-password">Confirm Password</label>
		<input type="password" class="form-control custom-validation" id="confirm-password" name="confirm-password" required />
		<div class="invalid-feedback">
			The passwords do not match
		</div>
	</div>
	<p />
	<button type="submit" class="btn btn-primary"><span class="oi oi-data-transfer-upload"></span> Submit</button>
</form>
{% endblock %}
{% block custom_script %}
<script src="{{url_for('static', filename='crud-common.js')}}"></script>
<script src="{{url_for('static', filename='register.js')}}"></script>
{% endblock %}