{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<form id="customer-form" method="POST" action="{{ url_for('default.save_customer') }}" class="needs-validation" novalidate>
	<h1>Customer{% if customer %}&nbsp;#{{ customer.id }}{% endif %}</h1>
	{% if customer %}
		<input type="hidden" name="id" value="{{ customer.id }}" />
	{% endif %}
	<input type="hidden" name="created_by" value="Tim_Noble@steris.com" />
	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" class="form-control" id="name" name="name" value="{% if customer %}{{ customer.name }}{% endif %}" required />
		<div class="invalid-feedback">
			Please enter a name.
		</div>
	</div>
	<div class="form-group">
		<label for="address_one">Address 1</label>
		<input type="text" class="form-control" id="address_one" name="address_one" value="{% if customer %}{{ customer.address_one }}{% endif %}" required />
		<div class="invalid-feedback">
			Please enter an address.
		</div>
	</div>
	<div class="form-group">
		<label for="post_code">Post Code</label>
		<input type="text" class="form-control custom-validation" id="post_code" name="post_code" value="{% if customer %}{{ customer.post_code }}{% endif %}" required />
		<div class="invalid-feedback">
			Please enter a valid postcode.
		</div>
	</div>
	<div class="form-group">
		<label for="country_code">Country Code</label>
		<input type="text" class="form-control" id="country_code" name="country_code" value="{% if customer %}{{ customer.country_code }}{% endif %}" maxlength="3" required />
		<div class="invalid-feedback">
			Please enter a 3 letter country code.
		</div>
	</div>
	<div class="form-group">
		<label for="phone_number">Phone Number</label>
		<input type="text" class="form-control custom-validation" id="phone_number" name="phone_number" value="{% if customer %}{{ customer.phone_number }}{% endif %}" required />
		<div class="invalid-feedback">
			Please enter a valid phone number.
		</div>
	</div>
	<p />
	<button type="submit" class="btn btn-primary"><span class="oi oi-data-transfer-upload"></span> Submit</button>
	{% if customer %}
		<a class="btn btn-danger" role="button" href="{{ url_for('default.delete_customer', id=customer.id) }}"><span class="oi oi-delete"></span> Delete</a>
	{% endif %}
</form>
{% endblock %}
{% block custom_script %}
<script src="{{url_for('static', filename='crud-common.js')}}"></script>
<script src="{{url_for('static', filename='update-customer.js')}}"></script>
{% endblock %}